<h1>Information</h1>
<hr>
<h2 style="color: red;">Attention foreign students!</h2>
<p style="color:red;">You can obtain the PESEL number from the appropriate deanery.</p>
<br><hr>
<h2>Logging into the portal</h2>
<p>Dear Users,</p>
<p class="indented_p">We would like to inform you that the Central Authentication System (so-called CAS, from the
  English Central Authentication Service) has been implemented. It will make it easier for you to use a set of
  services that require authorization. When attempting to log in to one of these services, the user is redirected to
  the CAS login page, and after logging in, he gains transparent access to all services that interact with CAS. CAS uses
  a single account repository common to all services.</p>
<p class="indented_p">At the same time, it is no longer required to fill in the login form in the WebDziekanat portal.
  To authenticate, use the link called 'Login' in the upper right corner of the page.</p>
<p class="indented_p">After going to the login page in CAS, you must enter your ID and password. At the Lodz University
  of Technology, the identifier in the authentication process is the assigned name of the e-mail account in the format
  '[album number]@edu.p.lodz.pl', e.g. '123@edu.p.lodz.pl'.</p>
<p>The current password remains unchanged.</p>

