<h1>Registration</h1>
<hr><br>
<p> Dear Students,</p>
<p class="indented_p">From the 19th of March 2011, there is no need to manually register a student in the WebDziekanat system.</p>
<p class="indented_p">Access to the portal is possible with a password obtained at the WIKAMP Centrum Customer Service Office
  (Building B22 - TUL Library, 2nd floor, room 203). In the event of problems with access to the WebDziekanat system,
  using the correct password to log in to the University's e-mail, report the errors or other problems to the Dean's
  Office that is appropriate to your field of study.</p>
