<h1> WebDziekanat Main Page</h1>
<hr>
<p>Dear Students,</p>
<p class="indented_p">Welcome to the new version of our student portal. Here you will be able to view all the details
  concerning your studies at the Technical University of Lodz. You may use this portal to generate bank account numbers
  for your student accommodation and for the payments related to your studies.</p>
<p class="indented_p">Should you have any problems or remarks concerning the functionality of the portal, please don't
  hesitate to contact us at: portal.uczelniany@info.p.lodz.pl . Checked message are sent from mailboxes polytechnic.</p>
